@font-face {
  font-family: 'Consolas';
  font-display: swap;
  src: local('Consolas'), url(../fonts/consolas.ttf) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-display: swap;
  src: local('VT323'), url(../fonts/vt323.ttf) format('truetype');
}

h1,
h2 {
  color: var(--brand-color);
}

pre:has(> code) {
  position: relative;
}

code {
  &.language-jsdoc {
    color: rgb(114, 255, 114);

    .token.parameter {
      color: rgb(151, 255, 255);
    }
  }
  &.language-error {
    color: salmon;
  }
}

.token {
  &.operator {
    background: none;
  }
  &.class-name {
    > .punctuation + .operator {
      color: rgb(114, 255, 114);
    }
  }
  &.constant {
    color: #ff71a4;
  }
}

.outline {
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 0.02em;
  text-shadow: 0 0 0.2em;
}

@keyframes clip-left {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes clip-right {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

p-deck:not([mode='speaker']) {
  @each $dir in left right {
    p-fragment[aria-hidden='false'] .clip-#{$dir},
    p-slide[aria-hidden='false'] .clip-#{$dir}:not(p-fragment > .clip-#{$dir}) {
      animation: clip-#{$dir} var(--fragment-duration, 300ms) $motion-entrance-timing-fn 1 forwards;
    }
  }
}

.code-popover {
  position: absolute;
  border: 0.1em solid gray;
  border-radius: 0.2em;
  background: inherit;
  transform: translate(calc(2em / 3), calc(0.5em - 100%));
  white-space-collapse: collapse;
  z-index: 1;

  &#{&} > * {
    padding: 0.25em 0.5em;
    opacity: 1;
  }

  > div {
    font-family: var(--base-font-family);
  }
  em {
    color: inherit;
  }

  > code[class*='language-'] {
    display: block;
    border-radius: 0;
    line-height: normal;
  }

  > code:not(:last-child),
  [data-ts-error] {
    border-bottom: 0.1em solid #606060;
  }

  [data-ts-error]::after {
    content: '(' attr(data-ts-error) ')';
    color: gray;
  }

  pre > p-fragment[aria-hidden='true']:is(&) {
    opacity: 0;
  }
  pre[class*='language-']:has(&) {
    overflow: visible;
  }

  &::before {
    content: '';
    position: absolute;
    top: calc(100% + 0.5lh);
    left: var(--popover-cursor-shift, 0ch);
    width: 2ch;
    height: 3.1ch;
    background: url(../img/cursor.svg);
  }
}

.squiggle {
  position: absolute;
  color: transparent;
  margin-top: 0.5em;
  margin-left: calc(2em / 3);
  text-shadow: none;
  text-decoration: underline wavy red;
  text-underline-offset: 0.25em;
}

.the-arrow {
  background: url(../img/arrow.svg);
  aspect-ratio: 140/242;
  position: absolute;
  width: 2em;
  z-index: 1;
}

.the-stroke {
  position: absolute;
  height: 1lh;
  width: 6em;
  border-image: url(../img/strike.svg) 0 fill;
  z-index: 1;
  clip-path: inset(0 100% 0 0);
  transition: clip-path var(--fragment-duration);

  p-fragment[aria-hidden='false']:is(&),
  p-fragment[aria-hidden='false'] > & {
    clip-path: inset(0 0 0 0);
  }
}

.the-circle {
  position: absolute;
  width: 2lh;
  aspect-ratio: 1;
  border-image: url(../img/marker-circle.svg) 0 fill;
  z-index: 1;
  clip-path: polygon(50% 50%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%);

  p-fragment[aria-hidden='false']:is(&),
  p-fragment[aria-hidden='false'] > & {
    animation: mark-circle var(--fragment-duration, 300ms) 1 linear forwards;
  }
}

@keyframes mark-circle {
  0% {
    clip-path: polygon(50% 50%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%, 10% 15%);
  }
  10% {
    clip-path: polygon(50% 50%, 10% 15%, 25% 0, 25% 0, 25% 0, 25% 0, 25% 0, 25% 0, 25% 0, 25% 0);
  }
  23% {
    clip-path: polygon(50% 50%, 10% 15%, 25% 0, 75% 0, 75% 0, 75% 0, 75% 0, 75% 0, 75% 0, 75% 0);
  }
  36% {
    clip-path: polygon(50% 50%, 10% 15%, 25% 0, 75% 0, 100% 25%, 100% 25%, 100% 25%, 100% 25%, 100% 25%, 100% 25%);
  }
  49% {
    clip-path: polygon(50% 50%, 10% 15%, 25% 0, 75% 0, 100% 25%, 100% 75%, 100% 75%, 100% 75%, 100% 75%, 100% 75%);
  }
  62% {
    clip-path: polygon(50% 50%, 10% 15%, 25% 0, 75% 0, 100% 25%, 100% 75%, 75% 100%, 75% 100%, 75% 100%, 75% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 10% 15%, 25% 0, 75% 0, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 25% 100%, 25% 100%);
  }
  88% {
    clip-path: polygon(50% 50%, 10% 15%, 25% 0, 75% 0, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0 75%, 0 75%);
  }
  100% {
    clip-path: polygon(50% 50%, 10% 15%, 25% 0, 75% 0, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0 75%, 0 25%);
  }
}

.balls {
  display: flex;
  flex-wrap: wrap;
  font-size: 75%;
  gap: 0 0.5em;
  justify-content: center;

  > code {
    width: 6em;
    aspect-ratio: 1;
    text-align: center;
    align-content: center;
    border-radius: 100vmax;
    display: inline-block;
    margin-block: -0.175em;
  }
}

.paper,
.email {
  position: absolute;
  inset: 0;
  background: white;
  padding-bottom: inherit;
  margin: auto auto 0;
  width: 21em;
  height: 24em;
  box-shadow: 0 0 1em rgba(black, 0.5);
  overflow: clip;
  transform: translateY(100%);
  transition: transform var(--fragment-duration, 300ms);
  font-size: 50%;

  [aria-hidden='false'] & {
    transform: translateY(0);
  }
}

.paper {
  padding: 2.5em 1em 0;
  font-family: ui-serif, 'Times New Roman', Times, serif;

  h1,
  h2 {
    text-align: center;
    color: inherit;
  }
  p {
    text-indent: 1em;
    font-size: 80%;
    text-align: justify;
  }
}

.email {
  hgroup {
    h4,
    p {
      border-bottom: 1px solid gray;
      margin-bottom: 0;
    }
    h4::before {
      content: 'Subject: ';
    }

    > p::before {
      content: 'To: ';
      font-weight: bold;
    }
    em {
      font-style: normal;
    }
  }
  h4,
  p {
    padding: 0.25em 0.5em;
  }

  &.terminal {
    hgroup {
      h4,
      p {
        border-bottom: 0.1em dashed currentColor;
      }
      em {
        text-decoration: underline;
        color: inherit;
        white-space: nowrap;

        &::before {
          content: '<';
        }
        &::after {
          content: '>';
        }
      }
    }
    h4,
    p {
      padding: calc(0.5lh - 0.05em) 1ch;
    }
  }
  &:not(.terminal) {
    em {
      display: inline-block;
      background-color: color-mix(in srgb, white 90%, var(--brand-color));
      padding-inline: 0.5em;
      border-radius: 100vmax;
    }
  }
}

.terminal {
  &#{&} {
    font-family: VT323, ui-monospace, monospace;
    background: repeating-linear-gradient(to bottom, #001100 0 0.08em, #001800 0.12em 0.2em);
    color: lime;
    font-weight: normal;

    *,
    ::before,
    ::after {
      font-weight: inherit;
      filter: drop-shadow(0 0 0.5em color-mix(in srgb, transparent, currentColor 25%));
    }
  }
}

.chart {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  font-size: 60%;
  text-align: center;
  align-items: start;
  justify-items: center;
  gap: 0.5em;

  > span {
    display: contents;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: calc(var(--price) * 0.003em + 0.1em);
      background: linear-gradient(to right, transparent calc(50% - 1em), var(--brand-color) 0 calc(50% + 1em), transparent 0);
      align-self: end;
      border-bottom: 0.1em solid;
      clip-path: inset(100% 0 0 0);

      [active] & {
        transition: clip-path calc(var(--fragment-duration, 300ms) * var(--price) / 500);
        clip-path: inset(0 0 0 0);
      }
    }
  }
}
