@import 'core/typography.scss';
@import 'core/utility.scss';
@import 'core/scaffold.scss';
@import 'typography/lxgw-wenkai-mono-tc.scss';
@import 'typography/fuzzy-bubbles.scss';
@import 'modules/specific.scss';

@property --sketchy-arrow-width {
  syntax: '<length>';
  initial-value: 1px;
  inherits: true;
}
@property --sketchy-arrow-tip-spread {
  syntax: '<angle>';
  initial-value: 45deg;
  inherits: true;
}
@property --sketchy-arrow-tip-size {
  syntax: '<number>';
  initial-value: 40;
  inherits: true;
}
@property --sketchy-arrow-point-approx {
  syntax: '<number>';
  initial-value: 3;
  inherits: true;
}
@property --sketchy-arrow-count {
  syntax: '<integer>';
  initial-value: 3;
  inherits: true;
}
@property --sketchy-arrow-color {
  syntax: '<color>';
  initial-value: black;
  inherits: true;
}
@property --sketchy-arrow-random-seed {
  syntax: '<integer>';
  initial-value: 1234;
  inherits: true;
}

:root {
  --slide-bg: #fff;
  --sliding-duration: 0ms;
  --fragment-duration: 300ms;
  --brand-color: #822a7c;
  --brand-color-ant: #f60;
  --base-font-family: 'Fuzzy Bubbles', system-ui, sans-serif;
  font-family: var(--base-font-family);
}

p-deck {
  color: #272822;
}

p-deck::after {
  position: fixed;
  bottom: 0.5em;
  left: 0;
  right: 0;
  font-size: 50%;
  text-align: center;
  content: '@MaxArt2501';
  color: white;
  mix-blend-mode: difference;
  z-index: 100;
}

code,
code[class*='language-'],
pre[class*='language-'] {
  font-family: 'LXGW WenKai Mono TC', monospace;
}

.our-header {
  border-left: var(--brand-color) solid 0.15em;
  padding: 0.5em;
  margin: 0 0 0.5em;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  grid-gap: 1em;
  align-items: center;
}

.cover {
  --slide-bg: #250a32;
  color: white;

  h1 {
    font-size: 1.5em;
    margin-top: 0;
    color: white;
  }

  a {
    color: rgba(255, 255, 255, 0.8);
  }

  small {
    display: block;
  }

  figure {
    margin: 0;
  }
  img {
    height: 4em;
  }
  > img {
    filter: invert(1) hue-rotate(180deg);
    height: 200%;
    transform: translate(25%, -10%);
    opacity: 0.5;
  }

  .logo {
    background: white;
    padding: 0.2em;
    border-radius: 0.5em;
    height: 5em;
  }
}

.gellify {
  text-transform: uppercase;
}

.links {
  font-size: 70%;
  align-self: center;
  margin-top: 0.5em;

  li:not(:first-child) {
    margin-top: inherit;
  }
  a {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 1.75em;
  }
}

gfy-blob {
  position: absolute;
  height: 14em;
  width: 14em;
  right: -2em;
  bottom: -2em;
  z-index: -1;
  filter: brightness(2);
}

.my-data {
  > h2 {
    margin-bottom: 0;
  }
  a {
    font-weight: bold;
  }
  a:first-of-type {
    color: var(--brand-color-ant);
  }
  a:last-of-type {
    color: var(--brand-color);
  }
}
.my-face {
  border: 0.1em solid var(--brand-color);
  border-radius: 50%;
  height: 6em;
  float: left;
  margin: 0 1em;
}
.my-info {
  width: 8em;
  text-align: center;
  margin: 2em 2em 0;
  img {
    height: 1em;
    vertical-align: middle;
  }
}
.final-link {
  a {
    color: var(--brand-color);
  }
  img {
    display: block;
    margin: 1em auto 0;
    height: 7em;
  }
}

.shadow {
  box-shadow: 0 0 0.5em rgba(black, 0.5);
}

$lang-colors: (
  JavaScript: #f7df1e,
  TypeScript: #3178c6,
  CSS: rebeccapurple,
  HTML: #dc6e3d
);

@each $lang, $color in $lang-colors {
  .#{$lang} {
    background-color: $color;
    color: white;
    padding: 0 0.25em;
    font-weight: 600;
    &:empty::before {
      content: '#{$lang}';
    }
  }
}

.JavaScript {
  color: #323330;
}
.CSS {
  border-radius: 0 0.1em 0.1em 0.1em;
}

a {
  color: var(--brand-color);
}

.full-media {
  &.full-media-x {
    height: auto;
    top: auto;
  }
  &.full-media-y {
    width: auto;
    left: auto;
  }
}

.browser {
  padding-inline-start: 1.25em;
  margin-inline: 1em;
  background: 0 50% / 1em no-repeat;

  &.chrome {
    background-image: url(../img/chrome.svg);
  }
  &.firefox {
    background-image: url(../img/firefox.svg);
  }
  &.safari {
    background-image: url(../img/safari.svg);
  }
}
